@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h4>Danışmanlık Yapılan Öğrenciler</h4>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Ogrenci No</th>
            <th>Öğrenci Adı</th>
            <th>Öğrenci Soyadı</th>
            <th>Bölüm</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in ViewBag.danismanlik)
        {
            <tr>
                <td>@item.OgrenciNo</td>
                <td>@item.OgrenciAdi</td>
                <td>@item.OgrenciSoyadi</td>
                <td>@item.BolumAdi</td>

                <td>
                    <form method="post" asp-controller="OgretimElemani" asp-action="DanismanlikSil" asp-route-id="@item.DanismanlikID">
                        <button type="submit" class="btn btn-danger">Çıkar</button>
                    </form>
                </td>

            </tr>


        }
    </tbody>
</table>
<br />
<h4>Öğrenci Ekle</h4>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Ogrenci No</th>
            <th>Öğrenci Adı</th>
            <th>Öğrenci Soyadı</th>
            <th>Bölüm</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in ViewBag.resultData)
        {
            <tr>
                <td>@item.OgrenciNo</td>
                <td>@item.OgrenciAdi</td>
                <td>@item.OgrenciSoyadi</td>
                <td>@item.BolumAdi</td>

                <td>
                    <form method="post" asp-controller="OgretimElemani" asp-action="DanismanlikEkle">
                        <input hidden="" name="OgretimElemaniID" value="@ViewBag.OgretimElemaniID" />
                        <input hidden="" name="OgrenciID" value="@item.OgrenciID" />
                        <button type="submit" class="btn btn-primary">Ekle</button>
                    </form>
                </td>

            </tr>


        }
    </tbody>
</table>
