<h3>Öğretim Elemanı Profili</h3>
<br />

@foreach (var item in ViewBag.resultData)
{
    <p><strong>Adı: </strong> @item.Adi</p>
    <p><strong>Soyadı: </strong> @item.Soyadi</p>
    <p><strong>T.C. Kimlik No: </strong> @item.TCKimlikNo</p>
    <p><strong>Doğum Tarihi: </strong> @item.DogumTarihi </p>
    <p><strong>Kurum Sicil No: </strong> @item.KurumSicilNo</p>

    <!-- Diğer öğrenci özelliklerini görüntüle -->
    <p><strong>Bölüm: </strong> @item.BolumAdi</p>
    <p><strong>Unvan: </strong> @item.UnvanAdi</p>

}