@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<form method="post" asp-controller="OgretimElemani" asp-action="OgretimElemaniEkle">
    
    <div class="mb-3">
        <label for="KurumSicilNo">Kurum Sicil No: </label>
        <input type="text" class="form-control" name="KurumSicilNo">
    </div>

    <div class="mb-3">
        <label for="Adi">Adı: </label>
        <input type="text" class="form-control" name="Adi">
    </div>

    <div class="mb-3">
        <label for="Soyadi">Soyadı: </label>
        <input type="text" class="form-control" name="Soyadi">
    </div>

    <div class="mb-3">
        <label for="TCKimlikNo">TC Kimlik No: </label>
        <input type="text" class="form-control" name="TCKimlikNo">
    </div>

    <div class="mb-3">
        <label for="DogumTarihi">Doğum Tarihi: </label>
        <input type="date" class="form-control" name="DogumTarihi">
    </div>

    <div class="mb-3">
        <select class="form-select" name="BolumID" required>
            <option selected value="">Bölüm Seçiniz </option>
            @foreach (var b in ViewBag.bolumListesi)
            {
                <option value="@b.BolumID">@b.BolumAdi</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select" name="UnvanID" required>
            <option selected value="">Unvan Seçiniz </option>
            @foreach (var u in ViewBag.unvanListesi)
            {
                <option value="@u.UnvanID">@u.UnvanAdi</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select" name="CinsiyetID" required>
            <option selected value="">Cinsiyet Seçiniz </option>
            @foreach (var c in ViewBag.cinsiyetListesi)
            {
                <option value="@c.CinsiyetID">@c.CinsiyetAdi</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select" name="KullaniciID" required>
            <option selected value="">Kullanıcı Seçiniz </option>
            @foreach (var k in ViewBag.kullaniciListesi)
            {
                <option value="@k.KullaniciID">@k.KullaniciAdi</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
